@page "/"

<PageTitle>Home</PageTitle>

<p class="mb-1">@_password</p>

<input type="text" class="form-control" @bind="_password" @bind:event="oninput" />

<MyButton/>

@code {
    private string _password = string.Empty;
}
